.linha {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 9pt;
    user-select: none;
    line-height: 1px !important;
    height: 12px;
}

/* Hide the browser's default checkbox */
.linha input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: #eee;
    border-style: solid;
    border-color: #165b7b;
    border-width: 1px;
    border-radius: 2px;
    margin-top: 2px;
}

/* On mouse-over, add a grey background color */
.linha:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.linha input:checked ~ .checkmark {
    background-color: #165b7b;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.linha input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.linha .checkmark:after {
    left: 4px;
    top: 0px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
